.vscode/
*.bin
boards/evkmimx8mm/driver_examples/gpio/led_output/armgcc/CMakeFiles/
boards/evkmimx8mm/driver_examples/gpio/led_output/armgcc/**
boards/evkmimx8mm/driver_examples/gpio/led_output/armgcc/release/
boards/evkmimx8mm/demo_apps/hello_world/armgcc/output.map
boards/evkmimx8mm/demo_apps/hello_world/armgcc/build_log.txt
boards/evkmimx8mm/demo_apps/sai_low_power_audio/armgcc/build_log.txt
boards/evkmimx8mm/demo_apps/sai_low_power_audio/armgcc/output.map
boards/evkmimx8mm/demo_apps/main/armgcc/output.map